*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-main{
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}
.top-main img{
  width: 16rem;
  height: 16rem;
}
.messages{
  line-height: 2.0;
}

.messages .button{
  font-size: 20px;
  background-color: #7ADFFF;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
.button a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

/*AD SECTION */
.Ad-section{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
}
.Ad-section img{
  width: 14rem;
  height: 12rem;
}

/* FEATURED PRODUCTS */
.featured-products .topic-txt{
  border-bottom: 2px solid #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}